
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<table class="table table-striped">
    <tr>
        <th>My List</th>
    </tr>
    <tbody>
        @if(ViewBag.NameList!=null){
            foreach (var item in ViewBag.NameList)
            {
                <tr>
                    <td>
                        @item
                    </td>
                </tr>
            }
        }

    </tbody>
</table>